.general-settings-container,
.notifications-settings-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}
.general-settings-container .title,
.notifications-settings-container .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #170123;
}
.general-settings-container .settings-form,
.notifications-settings-container .settings-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 70px;
}
.general-settings-container .settings-form .form-fields,
.notifications-settings-container .settings-form .form-fields {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.general-settings-container .settings-form .form-fields .input-section,
.notifications-settings-container .settings-form .form-fields .input-section {
  height: 80px;
}
.general-settings-container .settings-form .save-changes-btn,
.notifications-settings-container .settings-form .save-changes-btn {
  width: 200px;
  height: 40px;
}

.general-settings-container .avatar {
  font-family: "General Sans", Arial, Helvetica, "Roboto", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.04em;
  background-color: #efe6f3;
  color: #170123;
  height: 80px;
  width: 80px;
}

.notifications-settings-container {
  gap: 50px;
}
.notifications-settings-container .sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #a299a7;
}
.notifications-settings-container .settings-form {
  gap: 30px;
}
.notifications-settings-container .settings-form hr {
  border-color: #dcdcdc;
}

@media only screen and (max-width: 995px) {
  .general-settings-container,
  .notifications-settings-container {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .general-settings-container,
  .notifications-settings-container {
    width: 100%;
  }
  .general-settings-container .settings-form,
  .notifications-settings-container .settings-form {
    margin-bottom: 50px;
  }
  .general-settings-container .settings-form .form-fields,
  .notifications-settings-container .settings-form .form-fields {
    gap: 30px;
  }
  .general-settings-container .settings-form .form-fields .two-in-one,
  .notifications-settings-container .settings-form .form-fields .two-in-one {
    gap: 10px;
  }
}
